
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__text {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: bold;
  color: #000;
}

.loader path:nth-child(2) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: strokeAnimate 2s 0s ease forwards infinite;
}

.loader path:nth-child(3) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: strokeAnimate 2s 0.3s ease forwards infinite;
}

.loader path:nth-child(4) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: strokeAnimate 2s 0.9s ease forwards infinite;
}

.loader path:nth-child(5) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: strokeAnimate 2s 1.2s ease forwards infinite;
}

.loader path:nth-child(6) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: strokeAnimate 2s 1.5s ease forwards infinite;
}

.loader path:nth-child(7) {
  stroke-dasharray: 150%;
  stroke-dashoffset: 150%;
  animation: strokeAnimate 2s 1.8s ease forwards infinite;
}

.loader path:nth-child(8) {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: strokeAnimate 2s 2.1s ease forwards infinite;
}

@keyframes strokeAnimate {
  to {
    stroke-dashoffset: 0;
  }
}
