.registration__container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 30px;
  padding: 40px;
  background-color: #000;
}

.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}