html, body {
    margin: 0;
}
body {
    background-color: #111111;
    color: white;
}

#main_block{
    display: grid;
    width: 100%;
    justify-content: center;
}

#TitleCompany {
    text-align: center;
    font-family: 'Neris';
    margin-top: 5em;
}
#auth-panel{
    display: grid;
    width: 50%;
    min-width: 400px;
    margin: auto;
}
.panel_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.panel_buttons > button{
    margin-top: 25px;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color: #333333;
    height: 50px;
    transition: 0.2s all;
    font-size: 0.9em;
    font-family: 'Neris';
}
.panel_buttons > button:active{
    background-color: white;
    color: #333333;
    transform: scale(0.95);
}
.auth-input{
    border: 0;
    border-radius: 2em;
    height: 4em;
    padding-left: 20px;
    background-color: #333333;
    color: white;
    outline: none;
    align-self: center;
    margin-top: 30px;
    font-family: 'Neris';
    font-size: 0.9em;
}

#ebat_lox{
    text-align: center;
    margin-top: 10px;
    font-family: 'Neris';
    font-size: 0.7em;
    color: grey;
}