* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Neris';
}

body {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  /* background-color: #fff; */
  background-image: url('../images/goida.jpg');
  background-position: center; 
  background-size: calc(100%/7) auto;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 30px;
  padding: 40px;
  background-color: #000;
}

.login__title {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}

.login__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.auth-input {
  width: 80%;
  border-radius: 25px;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  background-color: #333;
}

.naeb {
  color: grey;
  font-size: 18px;
}

.panel_buttons {
  display: flex;
  gap: 25px;
}

.login__button {
  min-width: 170px;
  border-radius: 25px;
  padding: 18px;
  color: #fff;
  font-family: 'Neris';
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #333;
}

.panel_buttons > button:active{
  color: #333333;
  background-color: white;
}