* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Neris', 'Arial', sans-serif;  
  background-color: #957abc;
}

.registration {
  background-color: #111;
  padding: 60px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration__title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 5px;
}
